



@font-face{
	font-family:"Ortica";
	src: url("font/Ortica-Light.otf") format("opentype");
}


body{
	height:100%;
	width:100%;
	/*background-color:#12271d;*/
	background: linear-gradient(-45deg, #f2db5a, #f28f5a, #5a64f2, #5a64f2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/*COMPUTER*/
@media screen and (min-width: 600px) { 
	h1{
	font-family:"Ortica",helvetica;
	font-size:6vh;
	line-height:6vh;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight:normal;
	padding:20 20 0 20;
	color:black;
	
	} 
}

/* PHONE */
@media screen and (max-width: 600px) {
h1{
	font-family:"Ortica",helvetica;
	font-size:4vh;
	line-height:4vh;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight:normal;
	padding:5 5 0 5;
	color:black;
	
	} 
}


/*COMPUTER*/
@media screen and (min-width: 600px) { 
h2{
	font-family:"Ortica", helvetica;
	font-weight:normal;
	font-size:4vh;
	line-height:4.5vh;
	padding:20 20 0 20;
	margin-bottom:0px;
	margin-top:0px;
}	
} 

/* PHONE */
@media screen and (max-width: 600px) {
h2{
	font-family:"Ortica", helvetica;
	font-weight:normal;
	font-size:3vh;
	line-height:3.5vh;
	padding:5 5 0 5;
	margin-bottom:0px;
	margin-top:0px;
}	
} 

h3{
	font-family:"Ortica",helvetica;
	font-size:4vh;
	line-height:40px;
	letter-spacing:1px;
	text-transform: lowercase;
	font-weight:normal;
	padding:20 20 0 20;
	color:black;
	margin-bottom:0px;
	margin-top:0px;
	
} 

.projects{
	
}

a:link, a:visited {
	color:black;
	background-color:transparent;
	text-decoration:none;
}

a:hover, a:active {
	color:	#F0E68C;
	background-color:transparent;
	text-de
}

@keyframes typeloop {
	0%, 100% {
	    color: black;
	  }
	  50%{
	    color: white;
	  }
	   
	  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}